---
import Layout from "@layouts/Layout.astro";
import SectionTitle from "@components/SectionTitle.astro";
import CurrentCrew from "@components/crew/CurrentCrew.astro";
import data from "../data/data.json";

interface Props {
  destinationId: string;
}

const { destinationId } = Astro.props;
const crewInfo = data.crew.find((crew) => crew.destinationId === destinationId)!;
const { images, name, role, bio } = crewInfo;
---

<Layout
  title={name}
  description=""
  className="bg-[url('/backgrounds/crew-mobile.jpg')] lg:bg-[url('/backgrounds/crew-desktop.jpg')]"
>
  <SectionTitle leftText="02"> Meet your crew </SectionTitle>
  <article class="flex flex-col justify-center items-center md:flex-col-reverse xl:flex-row-reverse xl:justify-around xl:w-full xl:mx-auto">
    <img class="w-1/2 h-auto mx-auto mt-8 mb-0 md:max-w-[470px] md:mx-auto xl:max-w-[569px]" src={images.webp} alt={name} />
    <hr class="text-[#383b4b] h-[1px] w-full mb-8 md:hidden" />
    <div class="flex flex-col-reverse xl:justify-start md:w-full md:mx-auto">
      <CurrentCrew />
      <div class="flex justify-center items-center flex-col md:mt-16 md:mb-10  xl:justify-start xl:items-start">
        <h2 class="text-center md:text-2xl xl:text-left">
          <span class="block font-serif font-base opacity-50 uppercase xl:text-[32px] xl:mb-4">{role}</span>
          <br />
          <span class="block font-serif text-2xl uppercase md:text-[40px] xl:text-[56px] xl:mb-7">{name}</span>
        </h2>
        <p class="font-body text-base text-soft-blue text-center mt-4 xl:text-lg xl:text-left xl:w-7/12">{bio}</p>
      </div>
    </div>
  </article>
</Layout>
